Repository liguori/organizer: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-backend.yml, pipelines/build-frontend.yml

pipelines/build-backend.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/EngagementOrganizer.API/*
    exclude:
    - pipelines/*
pool:
  vmImage: 'windows-latest'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: './src/EngagementOrganizer.API/EngagementOrganizer.API.csproj'
    arguments: '-o "$(Pipeline.Workspace)/output" -c "Release"'
    modifyOutputPath: false

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)/output'
    artifact: 'EngagementOrganizer.API'
    publishLocation: 'pipeline'

pipelines/build-frontend.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/EngagementOrganizer.SPA/*
    exclude:
    - pipelines/*

pool:
  vmImage: 'windows-latest'

steps:

Update build-frontend.yml for Azure Pipelines
  pipelines/build-frontend.yml
Due: none

Update build-backend.yml for Azure Pipelines
  pipelines/build-backend.yml
Due: none

Removed database from build output
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.API.csproj
Due: pipelines/build-backend.yml

Removed database from the project
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.API.csproj
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.db
Due: pipelines/build-backend.yml

Removed database from source control
  .gitignore
Due: none

Ensure Database Created
  src/EngagementOrganizer.API/EngagementOrganizer.API/Startup.cs
Due: pipelines/build-backend.yml

Changed favicon
  src/EngagementOrganizer.SPA/src/favicon.ico
Due: pipelines/build-frontend.yml

Added ApiKey support
  src/EngagementOrganizer.API/EngagementOrganizer.API/Authentication/ApiKeyAuthenticationBuilder.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentTypesController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentsController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/CustomersController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Infrastructure/PFEOrganizerContext.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Startup.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/appsettings.json
  src/EngagementOrganizer.SPA/.vscode/launch.json
  src/EngagementOrganizer.SPA/.vscode/tasks.json
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/.npmignore
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/.swagger-codegen/VERSION
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/README.md
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api.module.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/appointmentTypes.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/appointments.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/customers.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/git_push.sh
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/appointment.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/appointmentExtraInfo.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/appointmentType.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/customer.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/ng-package.json
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.ts
  src/EngagementOrganizer.SPA/src/app/appontment-resolver.service.ts
  src/EngagementOrganizer.SPA/src/app/customer/customer.component.ts
  src/EngagementOrganizer.SPA/src/app/models/app-config.model.ts
  src/EngagementOrganizer.SPA/src/assets/config/config.dev.json
  src/EngagementOrganizer.SPA/src/assets/config/config.production.json
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Customer Without Appointments
  src/EngagementOrganizer.SPA/src/app/customer-view/customer-view.component.ts
  src/EngagementOrganizer.SPA/src/app/customer/customer.component.html
  src/EngagementOrganizer.SPA/src/app/customer/customer.component.ts
Due: pipelines/build-frontend.yml

Readme imptovements
  README.md
Due: none

Fix Typo
  README.md
Due: none

Readme new line
  README.md
Due: none

Accept API Key from querystring
  src/EngagementOrganizer.API/EngagementOrganizer.API/Authentication/ApiKeyAuthenticationBuilder.cs
Due: pipelines/build-backend.yml

Database Backup option
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentsController.cs
  src/EngagementOrganizer.SPA/src/app/app.component.html
  src/EngagementOrganizer.SPA/src/app/app.component.ts
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Default secret changed
  src/EngagementOrganizer.API/EngagementOrganizer.API/appsettings.json
  src/EngagementOrganizer.SPA/src/assets/config/config.dev.json
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Updated gitignore and vstask
  .gitignore
  .vs/Engagement-Organizer/v16/.suo
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  .vscode/launch.json
  .vscode/tasks.json
  src/EngagementOrganizer.SPA/.vscode/launch.json
  src/EngagementOrganizer.SPA/.vscode/tasks.json
Due: pipelines/build-frontend.yml

Excluded vs
  .gitignore
Due: none

Removed Vs folder
  .gitignore
  .vs/Engagement-Organizer/v16/.suo
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
Due: none

Finalized debug configuration
  .vscode/launch.json
  .vscode/tasks.json
  src/EngagementOrganizer.API/.gitignore
  src/EngagementOrganizer.SPA/src/assets/config/config.dev.json
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

added utilization feature
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/UtilizationController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/Utilization.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Program.cs
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api.module.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/api.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/utilization.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/models.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/utilization.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/utilizationRow.ts
  src/EngagementOrganizer.SPA/src/app/app-routing.module.ts
  src/EngagementOrganizer.SPA/src/app/app.component.html
  src/EngagementOrganizer.SPA/src/app/app.component.ts
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/utilization/utilization.component.html
  src/EngagementOrganizer.SPA/src/app/utilization/utilization.component.scss
  src/EngagementOrganizer.SPA/src/app/utilization/utilization.component.ts
  src/EngagementOrganizer.SPA/src/app/variable.scss
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Included not confirmed in utilization and bugfix
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/UtilizationController.cs
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/utilization.service.ts
  src/EngagementOrganizer.SPA/src/app/utilization/utilization.component.html
  src/EngagementOrganizer.SPA/src/app/utilization/utilization.component.scss
  src/EngagementOrganizer.SPA/src/app/utilization/utilization.component.ts
  src/EngagementOrganizer.SPA/src/app/variable.scss
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Dependabot security fix
  src/EngagementOrganizer.SPA/package-lock.json
Due: pipelines/build-frontend.yml

Bump to .NET 5
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.API.csproj
Due: pipelines/build-backend.yml

Minor updates
  src/EngagementOrganizer.SPA/package-lock.json
  src/EngagementOrganizer.SPA/package.json
Due: pipelines/build-frontend.yml

Updated codelyzer
  src/EngagementOrganizer.SPA/package-lock.json
  src/EngagementOrganizer.SPA/package.json
Due: pipelines/build-frontend.yml

Bump to Angular 11
  src/EngagementOrganizer.SPA/angular.json
  src/EngagementOrganizer.SPA/package-lock.json
  src/EngagementOrganizer.SPA/package.json
  src/EngagementOrganizer.SPA/src/app/app-routing.module.ts
Due: pipelines/build-frontend.yml

App updates
  src/EngagementOrganizer.App/package-lock.json
  src/EngagementOrganizer.App/package.json
Due: none

Added upstream appointments
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentsController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.API.csproj
  src/EngagementOrganizer.API/EngagementOrganizer.API/Infrastructure/ConfigurationValues.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Infrastructure/PFEOrganizerContext.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/AppointmentExtraInfo.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/Customer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/UpstreamAppointment.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/Abstract/IUpstreamApiAppointments.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Startup.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/appsettings.json
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/appointments.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/appointmentExtraInfo.ts
  src/EngagementOrganizer.SPA/src/app/app-routing.module.ts
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.ts
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.scss
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.scss
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
  src/EngagementOrganizer.SPA/src/app/resolvers/appointment-resolver.service.ts
  src/EngagementOrganizer.SPA/src/app/resolvers/upstreamEventTolen-resolver.service.ts
  src/EngagementOrganizer.SPA/src/styles.scss
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Finalized Upstream view style
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.scss
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.ts
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml
