Repository liguori/organizer: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-backend.yml, pipelines/build-frontend.yml

pipelines/build-backend.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: ./src/EngagementOrganizer.API/EngagementOrganizer.API.csproj
      arguments: -o "$(Pipeline.Workspace)/output" -c "Release"
      modifyOutputPath: false
  ...

pipelines/build-frontend.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 12.x
    displayName: Install Node.js
  - task: PowerShell@2
    inputs:
      targetType: inline
      script: 'cd .\src\EngagementOrganizer.SPA\
  
        npm install
  
  ...

Multiple calendars
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentsController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.API.csproj
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.db-shm
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.db-wal
  src/EngagementOrganizer.API/EngagementOrganizer.API/Infrastructure/PFEOrganizerContext.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190603225533_InitialCreate.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190603225533_InitialCreate.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190604124120_AddedTravelInformations.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190604124120_AddedTravelInformations.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190604205445_AddedTextColor.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190604205445_AddedTextColor.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605135638_ColorAppointmentType.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605135638_ColorAppointmentType.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605175835_AddedNavigationID.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605175835_AddedNavigationID.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605180043_TestMigration.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605180043_TestMigration.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605212325_AddedShortDescriptionForAppointmentTypes.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20190605212325_AddedShortDescriptionForAppointmentTypes.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20191022073327_AddedProjectField.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20210116112814_InitialMigration.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20210116112814_InitialMigration.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/EngagementOrganizerContextModelSnapshot.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/Appointment.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/Calendar.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/appointments.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/appointment.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/appointmentExtraInfo.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/calendar.ts
  src/EngagementOrganizer.SPA/src/app/app-routing.module.ts
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
  src/EngagementOrganizer.SPA/src/app/models/appointmentViewModel.ts
  src/EngagementOrganizer.SPA/src/app/resolvers/calendar-resolver.service.ts
  src/EngagementOrganizer.SPA/src/index.html
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Upstream event summary view
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.db-shm
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.db-wal
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.ts
  src/EngagementOrganizer.SPA/src/app/appointment-summary/appointment-summary.component.html
  src/EngagementOrganizer.SPA/src/app/appointment-summary/appointment-summary.component.scss
  src/EngagementOrganizer.SPA/src/app/appointment-summary/appointment-summary.component.ts
  src/EngagementOrganizer.SPA/src/app/custom-dialog/custom-dialog.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Set up CI with Azure Pipelines
  Build EngagementOrganizer.API.yml
Due: none

Set up CI with Azure Pipelines
  Build EngagementOrganizer.SPA.yml
Due: none

Monthly view
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.html
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.scss
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
  src/EngagementOrganizer.SPA/src/app/models/calendarView.ts
  src/EngagementOrganizer.SPA/src/app/utils/dateTimeUtils.ts
  src/EngagementOrganizer.SPA/src/app/variable.scss
Due: pipelines/build-frontend.yml

Month navigation control
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.ts
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
  src/EngagementOrganizer.SPA/src/app/utils/dateTimeUtils.ts
Due: pipelines/build-frontend.yml

Update README.md
  README.md
Due: none

Responsive eventviewr
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.scss
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.ts
  src/EngagementOrganizer.SPA/src/app/variable.scss
Due: pipelines/build-frontend.yml

Fitlers UI + Customer Filter
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/customer/customer.component.html
  src/EngagementOrganizer.SPA/src/app/customer/customer.component.scss
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.scss
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
  src/EngagementOrganizer.SPA/src/styles.scss
Due: pipelines/build-frontend.yml

Customer filter multiple selection
  src/EngagementOrganizer.SPA/package-lock.json
  src/EngagementOrganizer.SPA/package.json
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.scss
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
  src/EngagementOrganizer.SPA/src/styles.scss
Due: pipelines/build-frontend.yml

Customer Filter on appointments
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentsController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/CalendarDisplay.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/Abstract/IUpstreamApiAppointments.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/appointments.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/calendarDisplay.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.scss
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
  src/EngagementOrganizer.SPA/src/app/models/calendarDisplay.ts
  src/EngagementOrganizer.SPA/src/app/resolvers/appointment-resolver.service.ts
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Upstream source calendar
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/UpstreamAppointment.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
Due: pipelines/build-backend.yml

Implemented calendar view
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.html
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.ts
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.scss
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
Due: pipelines/build-frontend.yml

Added color picker
  src/EngagementOrganizer.SPA/package-lock.json
  src/EngagementOrganizer.SPA/package.json
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/customer/customer.component.html
Due: pipelines/build-frontend.yml

Calendar additional data
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentsController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20210122215116_InitialMigration.Designer.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/20210122215116_InitialMigration.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Migrations/EngagementOrganizerContextModelSnapshot.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/Calendar.cs
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/api/appointments.service.ts
  src/EngagementOrganizer.SPA/src/app/api/EngagementOrganizerApiClient/model/calendar.ts
  src/EngagementOrganizer.SPA/src/app/app.module.ts
  src/EngagementOrganizer.SPA/src/app/calendar-editor/calendar-editor.component.html
  src/EngagementOrganizer.SPA/src/app/calendar-editor/calendar-editor.component.scss
  src/EngagementOrganizer.SPA/src/app/calendar-editor/calendar-editor.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Calendar view logic fix
  src/EngagementOrganizer.API/EngagementOrganizer.API/Controllers/AppointmentsController.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
Due: pipelines/build-backend.yml, pipelines/build-frontend.yml

Upstream API New Color
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
Due: pipelines/build-backend.yml

Multiple event scroll
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.html
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.scss
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.scss
  src/EngagementOrganizer.SPA/src/app/variable.scss
Due: pipelines/build-frontend.yml

Fluid calendar space
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.scss
  src/EngagementOrganizer.SPA/src/app/variable.scss
  src/EngagementOrganizer.SPA/src/styles.scss
Due: pipelines/build-frontend.yml

Samall style fix
  src/EngagementOrganizer.SPA/src/app/calendar-editor/calendar-editor.component.html
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/styles.scss
Due: pipelines/build-frontend.yml

Fix for global scrollbar
  src/EngagementOrganizer.SPA/src/styles.scss
Due: pipelines/build-frontend.yml

Fix empty selected calendar
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
Due: pipelines/build-frontend.yml

Keep selected calendar when changed view
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
Due: pipelines/build-frontend.yml

Fix for null description in calendar
  src/EngagementOrganizer.SPA/src/app/event-viewer/event-viewer.component.html
Due: pipelines/build-frontend.yml

Selected month fix
  src/EngagementOrganizer.SPA/src/app/calendar/calendar.component.ts
Due: pipelines/build-frontend.yml

Updated screenshot
  docs/CalendarMonthlyView.png
  docs/CalendarMultiCustomerFilter.png
  docs/CalendarMultiple.png
  docs/CalendarView.png
  docs/CalendarView_Dark.png
Due: none

Unselect for customer filter
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
Due: pipelines/build-frontend.yml

Route navigation loader
  src/EngagementOrganizer.SPA/src/app/app.component.html
  src/EngagementOrganizer.SPA/src/app/app.component.scss
  src/EngagementOrganizer.SPA/src/app/app.component.ts
  src/EngagementOrganizer.SPA/src/app/app.module.ts
Due: pipelines/build-frontend.yml

Added calendar in appointment editor
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.html
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.scss
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.ts
  src/EngagementOrganizer.SPA/src/app/home/home.component.html
  src/EngagementOrganizer.SPA/src/styles.scss
Due: pipelines/build-frontend.yml

Customer delete
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.ts
  src/EngagementOrganizer.SPA/src/app/customer-view/customer-view.component.html
  src/EngagementOrganizer.SPA/src/app/customer-view/customer-view.component.ts
Due: pipelines/build-frontend.yml

Create test-main.yml
  .github/workflows/test-main.yml
Due: none

Create azure.yml
  .github/workflows/azure.yml
Due: none

Delete azure.yml
  .github/workflows/azure.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Create dotnet.yml
  .github/workflows/dotnet.yml
Due: none

Rename main.yml to build-electron.yml
  .github/workflows/build-electron.yml
Due: none

Rename dotnet.yml to build-backend.yml
  .github/workflows/build-backend.yml
Due: none

Create build-frontend.yml
  .github/workflows/build-frontend.yml
Due: none

Update build-frontend.yml
  .github/workflows/build-frontend.yml
Due: none

Update build-backend.yml
  .github/workflows/build-backend.yml
Due: none

Path conditions:
  pipelines/build-backend.yml: any of: src/EngagementOrganizer.API, but not: pipelines
  pipelines/build-frontend.yml: any of: src/EngagementOrganizer.SPA, but not: pipelines
