Repository liguori/organizer: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-backend.yml, pipelines/build-frontend.yml

pipelines/build-backend.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/EngagementOrganizer.API/*
    exclude:
    - pipelines/*
pool:
  vmImage: 'windows-latest'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: './src/EngagementOrganizer.API/EngagementOrganizer.API.csproj'
    arguments: '-o "$(Pipeline.Workspace)/output" -c "Release"'
    modifyOutputPath: false

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)/output'
    artifact: 'EngagementOrganizer.API'
    publishLocation: 'pipeline'

pipelines/build-frontend.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/EngagementOrganizer.SPA/*
    exclude:
    - pipelines/*

pool:
  vmImage: 'windows-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'Install Node.js'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      cd .\src\EngagementOrganizer.SPA\
      npm install
      npm run build -- --prod --base-href ./ --outputPath="$(Pipeline.Workspace)\dist\" --configuration='production'
 
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)\dist\'
    artifact: 'ENgagementOrganizer.SPA'
    publishLocation: 'pipeline'

Create deploy-backend.yml
  .github/workflows/deploy-backend.yml
Due: none

Create deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Due: none

Update deploy-backend.yml
  .github/workflows/deploy-backend.yml
Due: none

Update build-backend.yml
  .github/workflows/build-backend.yml
Due: none

Update build-frontend.yml
  .github/workflows/build-frontend.yml
Due: none

Update deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Updated launch.json
  .vscode/launch.json
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Fix for selected calendar
  src/EngagementOrganizer.SPA/src/app/home/home.component.ts
Due: pipelines/build-frontend.yml

Migration to .NET 6 with Minimal API
  .gitignore
  src/EngagementOrganizer.API/EngagementOrganizer.API/EngagementOrganizer.API.csproj
  src/EngagementOrganizer.API/EngagementOrganizer.API/Program.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Startup.cs
Due: pipelines/build-backend.yml

Update appointment-editor.component.html
  src/EngagementOrganizer.SPA/src/app/appointment-editor/appointment-editor.component.html
Due: pipelines/build-frontend.yml

Implemented upstream warning
  src/EngagementOrganizer.API/EngagementOrganizer.API/Models/UpstreamAppointment.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/Services/UpstreamApiAppointments.cs
  src/EngagementOrganizer.API/EngagementOrganizer.API/appsettings.json
Due: pipelines/build-backend.yml

Rename build script
  Build.ps1
  SECURITY.md
  src/EngagementOrganizer.App/package-lock.json
  src/EngagementOrganizer.SPA/package-lock.json
  src/MakeBuild.ps1
Due: pipelines/build-frontend.yml

Update .NET dependencies to last version
  src/Organizer.API/Organizer.API/Organizer.API.csproj
Due: none

Update to Angular 12
  src/Organizer.SPA/package.json
Due: none
